<ion-view hide-nav-bar="true" view-title="{{'select' | translate}}">
    <ion-content class="start-container bg-abstract text-center padding">
        <div>
          <img src="main/assets/images/logo-txt.png">
        </div>

        <button type="button" class="button" ng-click="focoModal()">{{'have_focus' | translate}}</button>
        <button type="button" class="button" ng-click="withoutFoco()">{{'need_focus' | translate}}</button>
    </ion-content>

    <div class="loading-overlay" ng-show="loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</ion-view>
