$hex-size: 125px;
$scale-factor: 0.57735;
$margin-factor: 0.28868;
$margin-size: $hex-size * $margin-factor;
$margin-space: 2px;

.hex-row {
  clear: left;
  margin: auto;
  width: $hex-size*3;
  padding: 0 ($hex-size * $margin-factor)/2;
}
.hex.hex-even {
  margin-top: $hex-size/2+$margin-space;
  margin-bottom: -$hex-size/2+$margin-space;
}
.hex.hex-hide {
  visibility: hidden;
}

.hex {
  position: relative;
  width: $hex-size * $scale-factor;
  line-height: $hex-size;
  margin: 0 ($margin-size)/2+$margin-space;
  float: left;
  background-color: #046bb4;
  color: #046bb4;

  a {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: .9em;
    pointer-events: all;
    display: block;
    margin: 0 (-$margin-size);
  }
}

.hex:before,
.hex:after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  border-top: $hex-size/2 solid transparent;
  border-bottom: $hex-size/2 solid transparent;
  z-index: -1;
}

.hex:before {
  left: 100%;
  border-left: ($margin-size) solid;
}

.hex:after {
  right: 100%;
  border-right: ($margin-size) solid;
}

.hex.red {
  color: #f05e5d;
  background-color: #f05e5d;
}
.hex.ocean {
  color: #7cced8;
  background-color: #7cced8;
}

@media (max-width: 374px) {
  .hex-row {
    width: $hex-size*3*.85;
    padding: 0 ($hex-size * $margin-factor)/2*.85;
  }
  .hex.hex-even {
    margin-top: ($hex-size/2+$margin-space)*.85;
    margin-bottom: (-$hex-size/2+$margin-space)*.85;
  }
  .hex {
    width: $hex-size * $scale-factor*.85;
    line-height: $hex-size*.85;
    margin: 0 (($margin-size)/2+$margin-space)*.85;

    a {
      font-size: .75em;
      margin: 0 (-$margin-size);
    }
  }

  .hex:before,
  .hex:after {
    border-top: $hex-size*.85/2 solid transparent;
    border-bottom: $hex-size*.85/2 solid transparent;
  }

  .hex:before {
    border-left: ($margin-size*.85) solid;
  }

  .hex:after {
    border-right: ($margin-size*.85) solid;
  }
}

body {
  font-family: RobotoDraft, Roboto, Helvetica Neue, sans-serif;
  background-color: #fff; }

.facebook-background {
  background-color: #3c5c99 !important; }

.google-plus-color-background {
  background-color: #d73d32 !important; }

input[type=search], input[type=text], input[type=password], input[type=datetime],
input[type=datetime-local], input[type=date], input[type=month], input[type=time],
input[type=week], input[type=number], input[type=email], input[type=url], input[type=tel],
input[type=color], textarea {
  font-size: 16px; }

.bar.bar-custom {
  border-color: #1c3aa9;
  background-color: #2a56c6;
  background-image: linear-gradient(0deg, #1c3aa9, #1c3aa9 50%, transparent 50%);
  color: #fff; }
  .bar.bar-custom .title {
    color: #fff; }
  .bar.bar-custom.bar-footer {
    background-image: linear-gradient(180deg, #1c3aa9, #1c3aa9 50%, transparent 50%); }
  .bar.bar-custom .button {
    border-color: #1c3aa9;
    background-color: #2a56c6;
    color: #fff; }
    .bar.bar-custom .button:hover {
      color: #fff;
      text-decoration: none; }
    .bar.bar-custom .button.active, .bar.bar-custom .button.activated {
      border-color: #152b7d;
      background-color: #21449c; }
    .bar.bar-custom .button.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #fff;
      font-size: 17px; }
    .bar.bar-custom .button.button-icon {
      border-color: transparent;
      background: none; }

.welcome-container img {
  width: 50%;
  max-width: 150px; }

.welcome-container h4 {
  margin: 30px 0;
  color: #333; }

.welcome-container button i {
  margin-right: 10px; }

.welcome-container div.row {
  margin-top: 20px;
  padding: 0; }
  .welcome-container div.row button {
    padding: 0; }
  .welcome-container div.row button:first-child {
    margin-right: 5px; }
  .welcome-container div.row button:last-child {
    margin-left: 5px; }

.welcome-container p {
  margin-top: 30px;
  font-size: 14px;
  color: #333; }
  .welcome-container p a {
    color: #3c5c99;
    text-decoration: none;
    font-weight: bold; }

.welcome-container label.item-input i {
  font-size: 22px;
  padding-right: 16px; }

.bg-abstract {
  background: radial-gradient(ellipse at center, #e4f5fc 0%, rgba(191, 232, 249, 0.75) 36%, rgba(159, 216, 239, 0.57) 61%, rgba(42, 176, 237, 0.3) 100%); }

ion-content {
  background-color: #fafafa; }

ion-content.padding {
  padding: 20px; }

ion-content.padding-header {
  padding: 20px; }

ion-content.padding-header {
  padding: 0px 20px;
  margin-top: 16px; }

ion-content p, md-checkbox, .popup-title, .popup-body {
  font-size: 16px; }

.popup-title {
  font-weight: bold; }

.back-button i,
.left-buttons button i,
.left-buttons a i,
.bar-modal button i {
  font-size: 150%; }

.bar-modal-stimulus {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%); }
  .bar-modal-stimulus button i {
    font-size: 150%;
    color: #fff; }

.button.back-button i {
  margin-left: 9px; }

.right-buttons button i {
  margin-right: 5px;
  font-size: 150%; }

.platform-ios ion-view.has-header {
  top: 0px !important; }

.platform-android .bar-header {
  height: 56px; }

.platform-android .bar-header .title {
  line-height: 58px; }

.platform-android .has-header {
  padding-top: 16px; }

.platform-android .bar-custom .button.button-icon {
  line-height: 47px; }

.platform-android .tabs-top > .tabs {
  top: 60px; }

.platform-android .back-button {
  margin-top: 8px; }

.platform-android .formTextArea md-input-container {
  margin: 0; }

.platform-android md-input-container {
  margin: 0; }

.bar-custom {
  box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.25); }

.loading-overlay {
  top: 50%;
  position: fixed;
  left: 44%; }

.loading-overlay::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; }

.start-container img {
  width: 90%;
  max-width: 320px;
  margin-bottom: 5%; }

.start-container a, .start-container button {
  position: relative;
  width: 220px;
  height: 220px;
  margin: -10px auto;
  // padding: 35% 0;
  border-radius: 50%;
  font-size: 150%;
  line-height: 1;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold; }

.formTextArea md-input-container {
  padding: 0 10px;
  margin: 10px 0; }
  .formTextArea md-input-container textarea {
    font-size: 16px; }

button.button-criafoco,
button.button-estimulo {
  line-height: 0 !important; }

button.button-criafoco img {
  height: 28px; }

button.button-estimulo img {
  height: 22px;
  margin-top: 4px; }

button.button-estimulo img.shake {
  animation: shake 0.82s both;
  animation-iteration-count: 3; }

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg); }
  10%, 90% {
    transform: rotate(7deg); }
  20%, 80% {
    transform: rotate(4deg); }
  30%, 50%, 70% {
    transform: rotate(7deg); }
  40%, 60% {
    transform: rotate(-7deg); } }

.footer-fab-bar {
  position: absolute;
  bottom: 8px;
  right: 8px; }

h2.empty-list {
  text-align: center;
  color: #999;
  margin: 0px 16px;
  padding: 20px 0; }
  h2.empty-list img {
    width: 40%;
    display: block;
    margin: 0px auto 15px; }

.animate-show-hide.ng-hide {
  opacity: 0; }

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.2s; }

.footer-button-tabs a {
  margin-left: 8px; }

md-icon.fa-2x {
  font-size: 1.6em;
  text-align: center; }

.list-manager {
  padding: 0px; }
  .list-manager .item-icon-left {
    padding-left: 24px; }
  .list-manager md-icon {
    margin-right: 20px; }

md-content.profile-header img {
  width: 30%;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 10px 0; }

md-content.profile-header p {
  font-weight: bold;
  font-size: 18px;
  color: #333; }

ion-modal-view div.button-bottom {
  position: absolute;
  width: 100%;
  padding: 0px 10px; }

div.custom-content-alert .popup-body {
  // padding: 0;
}
  div.custom-content-alert .popup-body p {
    margin: 0px 0px 5px; }
  // div.custom-content-alert .popup-body .range input {
  //   margin: 0; }
  div.custom-content-alert .popup-body p.ng-binding {
    margin: 0px 16px; }

div.alert-conquest .popup-head {
  display: none; }

div.alert-conquest .popup-body span {
  display: block;
  text-align: center; }

.popup-body img {
  width: 70px;
  display: block;
  margin: 20px auto 0; }

.popup-body img.conquest {
  width: 100%;
  display: block; }

.popup-body span.badge {
  right: 16px; }

.footer-fab-bar md-fab-speed-dial md-fab-trigger {
  transition: all 0.3s ease-in-out;
  transform: scale(1); }

.footer-fab-bar md-fab-speed-dial.md-scale.ng-hide-add.ng-hide-add-active,
.footer-fab-bar md-fab-speed-dial.md-fling.ng-hide-add.ng-hide-add-active {
  display: flex !important; }

.footer-fab-bar md-fab-speed-dial.md-scale.ng-hide md-fab-trigger,
.footer-fab-bar md-fab-speed-dial.md-fling.ng-hide md-fab-trigger {
  transform: scale(0); }

.content-stimulus {
  top: 0;
  padding-top: 0px !important; }

.img-stimulus {
  height: 100%; }
  .img-stimulus h2 {
    text-align: center;
    color: #fff;
    margin: 0px 16px;
    padding-top: 90px;
    font-weight: bold;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.65), 0 1px rgba(0, 0, 0, 0.65), 1px 0 rgba(0, 0, 0, 0.65), 0 -1px rgba(0, 0, 0, 0.65); }

.popover {
  height: 136px !important; }
  .popover ion-content {
    padding: 0px !important; }
    .popover ion-content ul {
      margin-bottom: 0px; }
    .popover ion-content p {
      font-size: 13px;
      font-style: italic;
      text-align: center;
      margin: 10px 5px 0px 5px; }

.item-icon-right .icon {
  right: 16px; }

.item-icon-left .icon, .item-icon-right .icon {
  font-size: 1.6em; }

ion-item.notes-content.oportunidade .item-content::before,
ion-item.notes-content.oportunidade::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 5px solid #33cd5f; }

ion-item.notes-content.obstaculo .item-content::before,
ion-item.notes-content.obstaculo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 5px solid #ef473a; }

ion-list.list-check .item-icon-right {
  padding: 0 16px 0; }

ion-list.list-check .item-icon-right label.item {
  padding: 16px 0 16px 60px;
  border: 0 none;
  margin-left: -16px;
  margin-right: 25px; }

p.foco-container {
  background-color: rgba(255, 56, 56, 0.06);
  margin-bottom: 0px; }
  p.foco-container i {
    font-style: italic; }

div.fb-spacer {
  height: 90px; }

.hexagon-map {
  height: 100%;
  padding-top: 20px; }

form.profile-form label {
  margin: 10px 0;
  border: 0px; }
  form.profile-form label input {
    background-color: transparent; }

h1.title {
  left: 0 !important;
  right: 0 !important; }

.ic-facts-on {
  background: url(../assets/images/ic_tab_facts_on.svg) no-repeat center; }

.ic-facts-off {
  background: url(../assets/images/ic_tab_facts_off.svg) no-repeat center; }

.ic-note-on {
  background: url(../assets/images/ic_tab_note_on.svg) no-repeat center; }

.ic-note-off {
  background: url(../assets/images/ic_tab_note_off.svg) no-repeat center; }

.ic-creation-on {
  background: url(../assets/images/ic_tab_creation_on.svg) no-repeat center; }

.ic-creation-off {
  background: url(../assets/images/ic_tab_creation_off.svg) no-repeat center; }

.ic-usage-on {
  background: url(../assets/images/ic_tab_usage_on.svg) no-repeat center; }

.ic-usage-off {
  background: url(../assets/images/ic_tab_usage_off.svg) no-repeat center; }

.ic-script-on {
  background: url(../assets/images/ic_tab_script_on.svg) no-repeat center; }

.ic-script-off {
  background: url(../assets/images/ic_tab_script_off.svg) no-repeat center; }

div.custom-content-alert .popup-body {
  // border: 1px solid;
}

.custom-range {
  display: flex;
  align-items: center;
  // padding: 10px;
  // border: 1px solid;
  // width: 100%;
  // margin: 0;
  // position: relative;
  > strong {
    width: 20px;
    text-align: center;
  }
}

// .custom-range input[type=range] {
//   & {
//     appearance: none;
//     width: 100%;
//     // margin: 0.7px 0;
//     // margin: 5px 10px;
//     margin-right: 5px;
//     background: none;
//     flex: 1;
//   }
//   &:focus {
//     outline: none;
//   }
//   &::-webkit-slider-runnable-track {
//     width: 100%;
//     height: 3px;
//     cursor: pointer;
//     // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     background: #ccc;
//     // border-radius: 0px;
//     // border: 0px solid #010101;
//     appearance: none;
//     border: 0;
//     border-radius: 2px;
//   }
//   &::-webkit-slider-thumb {
//     box-shadow: 0px 1px 4px rgba(0,0,0,.6);
//     // border: 0px solid #ff1e00;
//     border: 0;
//     height: 25px;
//     width: 25px;
//     border-radius: 100%;
//     background: #fff;
//     cursor: pointer;
//     margin-top: -11px;
//     // .platform-browser &,
//     .platform-android & {
//       appearance: none;
//     }
//     .platform-ios & {
//       background: red;
//       box-shadow: none;
//     }
//   }
//   &:focus::-webkit-slider-runnable-track {
//     // background: #545a5a;
//   }

//   + * {
//     min-width: 20px;
//     display: block;
//     text-align: center;
//   }

// }

powerange {
  width: 100%;
  padding: 15px 10px;
  overflow: hidden;
}
