<ion-view class="has-header">
    <ion-nav-title><span>{{'script' | translate}}</span></ion-nav-title>

    <ion-nav-buttons side="left">
        <a class="button button-icon" ui-sref="manager">
            <i class="ion-ios-settings-strong"></i>
        </a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-criafoco" type="button" ng-click="openTutorial()">
            <img src="main/assets/images/icon-criafoco.png">
        </button>
    </ion-nav-buttons>

    <ion-content class="hexagon-map" scroll="false">
        <ion-scroll class="hexagon-map" direction="xy">
            <div class="hex-row">
                <div class="hex red"><a href="#" ng-click="openOportunidade($event)">{{'opportunities' | translate}}</a></div>
                <div class="hex hex-even"><a href="#" ng-click="openFoco($event)">{{'focus' | translate}}</a></div>
                <div class="hex ocean"><a href="#" ng-click="openIdeia($event)">{{'ideas' | translate}}</a></div>
            </div>
            <div class="hex-row">
                <div class="hex red"><a href="#" ng-click="openObstaculo($event)">{{'obstacles' | translate}}</a></div>
                <div class="hex hex-hide"></div>
                <div class="hex ocean"><a href="#" ng-click="openAcoes($event)">{{'actions' | translate}}</a></div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
