<ion-view class="has-header">
    <ion-nav-title><span>{{title}}</span></ion-nav-title>

    <ion-nav-buttons side="left">
        <a class="button button-icon" ui-sref="manager">
            <i class="ion-ios-settings-strong"></i>
        </a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-criafoco" type="button" ng-click="openTutorial()">
            <img src="main/assets/images/icon-criafoco.png">
        </button>
    </ion-nav-buttons>

    <ion-floating-menu menu-color="#b53926" menu-icon="ion-navicon-round" menu-open-color="#b53926" menu-open-icon="ion-close-round" ng-if="finished == false">
        <ion-floating-item ng-if="step == 'worry' || step == 'fact'" button-color="#b53926" text="{{'add' | translate}}" icon="ion-plus-round" ng-click="addModal()"></ion-floating-item>
        <ion-floating-item ng-if="step == 'score-worry' || step == 'score-fact'" button-color="#b53926" text="{{'restart' | translate}}" icon="ion-refresh" ng-click="reset()"></ion-floating-item>
        <ion-floating-item ng-if="step == 'worry'" button-color="#b53926" text="{{'evaluate_worry' | translate}}" icon="ion-checkmark-round" ng-click="process()"></ion-floating-item>
        <ion-floating-item ng-if="step == 'score-worry'" button-color="#b53926" text="{{'define_focus' | translate}}" icon="ion-checkmark-round" ng-click="process()"></ion-floating-item>
        <ion-floating-item ng-if="step == 'fact'" button-color="#b53926" text="{{'evaluate_fact' | translate}}" icon="ion-checkmark-round" ng-click="process()"></ion-floating-item>
        <ion-floating-item ng-if="step == 'score-fact'" button-color="#b53926" text="{{'note' | translate}}" icon="ion-checkmark-round" ng-click="process()"></ion-floating-item>
    </ion-floating-menu>

    <ion-content>
        <p class="padding text-center assertive foco-container" ng-click="focoModal()" ng-show="step == 'fact' || step == 'score-fact'"><i>{{'my_focus' | translate}}:</i> <strong>{{foco}}</strong></p>

        <ion-list class="has-fab" ng-hide="records.length == 0" can-swipe="false" ng-cloak>
            <ion-item class="item-icon-right" ng-repeat="record in records track by record.id" ng-click="editModal(record)">
                <span>{{record.descricao}}</span>
                <span class="item-note" ng-if="record.avaliacao !== -1">
                  {{record.avaliacao}}
                </span>
                <md-icon md-font-icon="{{record.avaliacao > -1 ? 'fa-star' : 'fa-star-o'}}" aria-label="{{record.descricao}}" class="icon md-secondary fa fa-2x" ng-class="record.avaliacao > -1 ? 'energized' : ''" ng-show="step == 'score-worry' || step == 'score-fact'" ng-click="scoreItem(record, $event)"></md-icon>
            </ion-item>
        </ion-list>

        <div class="fb-spacer" ng-if="finished == false"></div>

        <h2 ng-show="records.length == 0" class="empty-list">{{txtEmptyList}}</h2>
    </ion-content>
</ion-view>
