<ion-view class="has-header">
    <ion-nav-title><span>{{'usage' | translate}}</span></ion-nav-title>

    <ion-nav-buttons side="left">
        <a class="button button-icon" ui-sref="manager">
            <i class="ion-ios-settings-strong"></i>
        </a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-criafoco" type="button" ng-click="openTutorial()">
            <img src="main/assets/images/icon-criafoco.png">
        </button>
    </ion-nav-buttons>

    <ion-floating-button click="process()" button-color="#18a69f" icon="ion-checkmark-round" icon-color="#fff" ng-if="finished == false"></ion-floating-button>

    <ion-content>
        <p class="padding text-center assertive foco-container" ng-click="focoModal()"><i>{{'my_focus' | translate}}:</i> <strong>{{foco}}</strong></p>

        <ion-list class="has-fab" ng-hide="records.length == 0" can-swipe="false" ng-cloak>
            <ion-item class="item-icon-right" ng-repeat="record in records track by record.id">
                <span>{{record.descricao}}</span>
                <span class="item-note" ng-if="record.vote">
                  {{record.soma}}
                </span>
                <md-icon md-font-icon="{{record.vote ? 'fa-star' : 'fa-star-o'}}" aria-label="{{record.descricao}}" class="icon md-secondary fa fa-2x" ng-class="record.vote ? 'energized' : ''" ng-show="step == 'usage'" ng-click="scoreItem(record, $event)"></md-icon>
            </ion-item>
        </ion-list>

        <div class="fb-spacer" ng-if="finished == false"></div>
    </ion-content>
</ion-view>
