<ion-view class="has-header">
    <ion-nav-title><span>{{'note' | translate}}</span></ion-nav-title>

    <ion-nav-buttons side="left">
        <a class="button button-icon" ui-sref="manager">
            <i class="ion-ios-settings-strong"></i>
        </a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-criafoco" type="button" ng-click="openTutorial()">
            <img src="main/assets/images/icon-criafoco.png">
        </button>
    </ion-nav-buttons>

    <ion-floating-menu menu-color="#086cb3" menu-icon="ion-navicon-round" menu-open-color="#086cb3" menu-open-icon="ion-close-round" ng-if="finished == false">
        <ion-floating-item ng-if="step == 'note'" button-color="#086cb3" text="{{'add' | translate}}" icon="ion-plus-round" ng-click="addModal()"></ion-floating-item>
        <ion-floating-item ng-if="step == 'score-note'" button-color="#086cb3" text="{{'restart' | translate}}" icon="ion-refresh" ng-click="reset()"></ion-floating-item>
        <ion-floating-item ng-if="step == 'note'" button-color="#086cb3" text="{{'evaluate_notes' | translate}}" icon="ion-checkmark-round" ng-click="process()"></ion-floating-item>
        <ion-floating-item ng-if="step == 'score-note'" button-color="#086cb3" text="{{'create_ideas' | translate}}" icon="ion-checkmark-round" ng-click="process()"></ion-floating-item>
    </ion-floating-menu>

    <ion-content>
        <p class="padding text-center assertive foco-container" ng-click="focoModal()"><i>{{'my_focus' | translate}}:</i> <strong>{{foco}}</strong></p>

        <ion-list class="has-fab" ng-hide="records.length == 0 || step == 'score-note'" can-swipe="step == 'note'" ng-cloak>
            <ion-item class="item-icon-right notes-content" ng-class="record.ob_op ? (record.ob_op == 2 ? 'obstaculo' : 'oportunidade') : ''" ng-repeat="record in records track by record.id" ng-click="editModal(record)">
                <h2>{{record.descricao}}</h2>
                <md-icon md-font-icon="fa-undo" aria-label="{{record.descricao}}" class="icon md-secondary fa fa-2x" ng-class="black" ng-show="record.ob_op && step == 'note'" ng-click="obOp(record, 0)"></md-icon>
                <ion-option-button class="button-balanced" ng-click="obOp(record, 1)">{{'opportunity' | translate}}</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="obOp(record, 2)">{{'obstacle' | translate}}</ion-option-button>
            </ion-item>
        </ion-list>

        <ion-list class="has-fab" ng-hide="step == 'note'" ng-cloak>
            <md-subheader class="md-no-sticky">{{'opportunities' | translate | uppercase}}</md-subheader>

            <ion-item class="item-icon-right notes-content" ng-class="record.ob_op ? (record.ob_op == 2 ? 'obstaculo' : 'oportunidade') : ''" ng-repeat="record in records track by record.id" ng-if="record.ob_op == 1" ng-click="editModal(record)">
                <span>{{record.descricao}}</span>
                <span class="item-note" ng-if="record.avaliacao !== -1">
                  {{record.avaliacao}}
                </span>
                <md-icon md-font-icon="{{record.avaliacao > -1 ? 'fa-star' : 'fa-star-o'}}" aria-label="{{record.descricao}}" class="icon md-secondary fa fa-2x" ng-class="record.avaliacao > -1 ? 'energized' : ''" ng-show="step == 'score-note'" ng-click="scoreItem(record, $event)"></md-icon>
            </ion-item>

            <md-subheader class="md-no-sticky">{{'obstacles' | translate | uppercase}}</md-subheader>

            <ion-item class="item-icon-right notes-content" ng-class="record.ob_op ? (record.ob_op == 2 ? 'obstaculo' : 'oportunidade') : ''" ng-repeat="record in records track by record.id" ng-if="record.ob_op == 2" ng-click="editModal(record)">
                <span>{{record.descricao}}</span>
                <span class="item-note" ng-if="record.avaliacao !== -1">
                  {{record.avaliacao}}
                </span>
                <md-icon md-font-icon="{{record.avaliacao > -1 ? 'fa-star' : 'fa-star-o'}}" aria-label="{{record.descricao}}" class="icon md-secondary fa fa-2x" ng-class="record.avaliacao > -1 ? 'energized' : ''" ng-show="step == 'score-note'" ng-click="scoreItem(record, $event)"></md-icon>
            </ion-item>
        </ion-list>

        <div class="fb-spacer" ng-if="finished == false"></div>

        <h2 ng-show="records.length == 0" class="empty-list"><img src="main/assets/images/icon-swipe-left.png"> {{'empty_notes' | translate}}</h2>
    </ion-content>
</ion-view>
