<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="{{'facts' | translate}}" icon-off="ic-facts-off" icon-on="ic-facts-on" href="#/tab/facts">
        <ion-nav-view name="tab-facts"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'note' | translate}}" icon-off="ic-note-off" icon-on="ic-note-on" href="#/tab/notes" disabled="disableTabNotes">
        <ion-nav-view name="tab-notes"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'creation' | translate}}" icon-off="ic-creation-off" icon-on="ic-creation-on" href="#/tab/creation" disabled="disableTabCreation">
        <ion-nav-view name="tab-creation"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'usage' | translate}}" icon-off="ic-usage-off" icon-on="ic-usage-on" href="#/tab/usage" disabled="disableTabUsage">
        <ion-nav-view name="tab-usage"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'script' | translate}}" icon-off="ic-script-off" icon-on="ic-script-on" href="#/tab/script" disabled="disableTabScript">
        <ion-nav-view name="tab-script"></ion-nav-view>
    </ion-tab>

</ion-tabs>