<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive bar-custom bar-modal">
        <button class="button button-icon" ng-click="privacyModal.hide()">
            <i class="ion-android-close"></i>
        </button>

        <h1 class="title">{{'privacy' | translate}}</h1>
    </ion-header-bar>

    <ion-content class="padding-header">
        <p>Política de Privacidade</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat odio lectus. Sed ac purus augue. Donec
            sit amet nisi semper, auctor sapien sed, molestie neque. Etiam in mauris lacus. Vestibulum vitae orci vitae urna
            aliquam ultricies bibendum nec orci. Proin vel nisl pharetra velit vulputate laoreet vitae a ante. Morbi rhoncus
            nisi sed nisl auctor tincidunt.</p>

        <p>Praesent in sem lectus. Sed varius volutpat quam. Donec nec vehicula diam. In arcu dolor, lobortis in ultricies id,
            pharetra eget odio. Morbi efficitur, quam cursus tristique dictum, turpis ligula pretium quam, aliquam posuere
            tellus elit in ante. Duis blandit ornare ante sit amet consequat. Nam eu commodo nisi, et sagittis metus. Vivamus
            commodo nisl sit amet diam pellentesque elementum. Aliquam viverra sapien sit amet arcu bibendum bibendum. Etiam
            dictum pharetra felis id efficitur. Ut ac lacus neque. Donec rhoncus elementum elementum. Donec ut velit varius
            massa bibendum pellentesque sit amet quis ex. Praesent at velit dolor. Morbi a mollis lorem. Etiam cursus dapibus
            tristique.</p>

        <p>Integer id hendrerit quam, id cursus massa. Fusce varius porttitor diam sit amet iaculis. Curabitur gravida fringilla
            eros, ut auctor orci condimentum vitae. Sed tempor non justo id elementum. Vivamus hendrerit dui justo, eget
            fermentum felis placerat et. In ultricies egestas magna, nec consequat odio laoreet eu. Etiam viverra sit amet
            enim nec malesuada. Nam interdum nunc a lectus aliquam elementum. Maecenas vel neque commodo, malesuada arcu
            ut, porttitor quam. Sed pretium eros eget mi viverra euismod at cursus leo. Aenean auctor fermentum aliquam.
            Praesent semper tortor quis ipsum semper venenatis.</p>

        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc volutpat lorem at
            nunc sollicitudin laoreet. Nunc facilisis, sem sit amet interdum sodales, ipsum erat facilisis odio, nec pretium
            diam dui eu metus. Donec non purus dapibus, placerat nisl sed, vulputate velit. Fusce in nulla turpis. In hac
            habitasse platea dictumst. Aliquam volutpat vestibulum arcu. Morbi tincidunt mauris neque, eu gravida dolor vehicula
            vehicula. Etiam porttitor ex sodales pellentesque pulvinar. Quisque dictum tortor eget mi finibus varius. Ut
            convallis nunc interdum turpis gravida malesuada. In rutrum tellus a tristique pellentesque. Donec tempor a lectus
            vitae ultrices.</p>

        <p>Nullam placerat dolor risus, ut lobortis magna maximus sit amet. Praesent eleifend lobortis sapien ac pulvinar. Cras
            nec est nibh. Aliquam blandit laoreet efficitur. Vestibulum sem nisi, tincidunt sit amet tristique ac, convallis
            non dolor. Donec tristique, nibh nec vulputate placerat, eros erat porta tortor, nec blandit erat odio et libero.
            Duis vestibulum erat ut ligula molestie, nec dignissim nisi ornare.</p>
    </ion-content>
</ion-modal-view>